:root {
  --color-black: #000000;
  --color-while: #ffffff;
  --color-navy: #092c4c;
  --color-blue: #514ef3;
  --color-green: #2dc8a8;
  --color-yellow: #ffc357;
  --color-pink: #fe8084;
  --color-gray-90: #526477;
  --color-gray-70: #7e92a2;
  --color-gray-50: #d6e1e6;
  --color-gray-30: #eaeef4;
  --color-gray-10: #f6fafd;
}
